@import url('./globals.css');

/* PARAGRAPH */
.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  pointer-events: none;
  height: 0;
}
.tiptap p {
  @apply text-foreground text-sm leading-6;
}

.tiptap p.is-editor-empty:first-child::before {
  @apply text-muted-foreground;
}

/* TASK LIST */
ul[class^='not-prose'] p {
  @apply mt-[-2px];
}
ul[class^='not-prose'] {
  @apply my-1 flex flex-col gap-1 pl-0.5;
}
ul[data-type='taskList'] li > label {
  margin-right: 0.2rem;
  user-select: none;
}
@media screen and (max-width: 768px) {
  ul[data-type='taskList'] li > label {
    @apply mr-[0.3rem] md:mr-[0.4rem];
  }
}
ul[data-type='taskList'] li > label input[type='checkbox'] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  cursor: default;
  position: relative;
  margin-right: 0.3rem;
  display: grid;
  place-content: center;
  border-radius: 3px;
  @apply border-primary/80 checked:bg-primary checked:border-primary mt-[0.085rem] h-[1.1em] w-[1.1em] cursor-pointer rounded-sm border bg-transparent md:mt-[0.2em] md:h-[0.9em] md:w-[0.9em];

  &::before {
    content: '';
    transform: rotate(45deg);
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    visibility: hidden;
    @apply mb-[1px] flex h-[7.5px] w-[4px] items-center justify-center;
    @apply border-b-2 border-r-2 border-white dark:border-zinc-950;
  }

  &:checked::before {
    visibility: visible;
  }
}
ul[data-type='taskList']
  li[data-for='monthly-income']
  > label
  input[type='checkbox'] {
  @apply border border-green-400 checked:bg-green-200;
  &::before {
    @apply border-b-2 border-r-2 border-zinc-950;
  }
}
ul[data-type='taskList']
  li[data-for='monthly-expense']
  > label
  input[type='checkbox'] {
  @apply border border-red-400 checked:bg-red-200;
  &::before {
    @apply border-b-2 border-r-2 border-zinc-950;
  }
}
ul[data-type='taskList'] li[data-checked='true'] > div > p {
  @apply text-foreground/60;
}

/* HEADING */
.tiptap h1:first-child,
.tiptap h2:first-child,
.tiptap h3:first-child {
  @apply mt-0;
}
.tiptap h1 {
  @apply mb-4 mt-10 text-3xl;
}
.tiptap h2 {
  @apply mb-3 mt-9 text-2xl;
}
.tiptap h3 {
  @apply mb-2 mt-8 text-xl;
}

/* BLOCKQUOTE */
.tiptap blockquote {
  @apply pl-4;
}
