@import url('./globals.css');

.tiptap p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  pointer-events: none;
  height: 0;
}

.tiptap p {
  @apply text-sm mb-2 text-foreground leading-6;
  
  &.is-editor-empty:first-child::before {
    @apply text-muted-foreground;
  }
}

ul[data-type="taskList"] li > label {
  margin-right: 0.2rem;
  user-select: none;
}

@media screen and (max-width: 768px) {
  ul[data-type="taskList"] li > label {
    margin-right: 0.5rem;
  }
}

ul[data-type="taskList"] li > label input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  cursor: pointer;
  width: 0.9em;
  height: 0.9em;
  position: relative;
  margin-right: 0.3rem;
  margin-top: 0.15em;
  display: grid;
  place-content: center;
  @apply border border-input rounded-sm bg-transparent checked:bg-primary checked:border-primary;

  &::before {
    content: "";
    transform: rotate(45deg);
    border-bottom: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
    visibility: hidden;
    @apply mb-[1px] w-[4px] h-[7.5px] flex justify-center items-center;
  }
  
  &:checked::before {
    visibility: visible;
  }
}

ul[data-type="taskList"] li[data-checked="true"] > div > p {
  @apply text-foreground/60;
}